@font-face {
    font-family: 'LigatureSymbols';
    src: url('fonts/LigatureSymbols-2.11.eot');
    src: url('fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
    url('fonts/LigatureSymbols-2.11.woff') format('woff'),
    url('fonts/LigatureSymbols-2.11.ttf') format('truetype'),
    url('fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lsf {
    font-family: 'LigatureSymbols';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga" 1, "dlig" 1;
    -o-font-feature-settings: "liga" 1, "dlig" 1;
    font-feature-settings: "liga" 1, "dlig" 1;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.excel {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 900px;
    height: 500px;
    overflow: hidden;
    border: 1px solid #DCDCA4;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;

}

.btn {
    display: inline-block;
    height: 30px;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #f3f3f3 none;
    border: 1px solid transparent;
    border-radius: 1px;
}

.toolbar {
    padding: 12px;
    margin: 2px;
    border-bottom: 1px solid #e3e3e3;
}

.menuGroup > .btn + .btn {
    margin-left: -1px;
}

.menuGroup > span {
    padding: 0px;
    -moz-outline-style: none;
    font-style: normal;
}

.menuGroup > span:focus,
.menuGroup > span:active {
    -moz-outline-style: none;
}

.menuGroup {
    position: relative;
    display: inline-block;
    font-size: 0;
    margin-right: 10px;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
}

.menuGroup > .btn:first-child {
    margin-left: 0;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.menuGroup > .btn:last-child {
    margin-right: 0;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
}

.menuGroup .btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #333333;
    outline: #e3e3e3;
}

.inputmenuGroup {
    display: inline-block;
    padding: 1px 0px;
    margin-right: 10px;
    color: #333333;
    outline: #e3e3e3;
}

.inputmenuGroup .input {
    height: 26px;
    border: 1px solid rgb(204, 204, 204);
    padding: 0px 0px 0px 8px;
    margin: 0px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;

}

.inputmenuGroup .input:focus {
    height: 26px;
    border: 1px solid rgb(204, 204, 204);
    outline: none !important;
    padding: 0px 0px 0px 8px;
    margin: 0px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;

}

.inputmenuGroup .fonttype {
    width: 140px;
    font-family: "Bitstream Vera Sans Mono";
}

.inputmenuGroup .fontsize {
    width: 40px;
    font-family: "Bitstream Vera Sans Mono";
}

.inputmenuGroup .arrow {
    height: 26px;
    font-size: 10px;
    margin: 0px;
    display: inline-block;
    float: right;
    text-align: center;
    line-height: 24px;
    border: 1px solid rgb(204, 204, 204);
    border-left: none;
    padding: 0;
    width: 10px;
    cursor: pointer;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
}

.inputmenuGroup:hover {
    background-color: #D3F0E0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.inputmenuGroup > span:active {
    background-color: #9FD5B7;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
}

.menuGroup .btn-default:active {
    background: #D3F0E0;
    color: #3d3d3d;
}

.menuGroup > button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125) inset;
    background: #D3F0E0;
}

.menuGroup .btn-default .select {
    background: #9FD5B7;
    color: #080808;
}

.contentview{
    position: relative;
    width: 100%;
    position: absolute;
    top: 80px;
    bottom: 0px;
}


.contenttab {
    width: 100%;
}

.contenttab table {
    border: none;
    padding: 0px;
    border-spacing: 0px;

}

.contenttab table td {
    border: 1px solid #d3d3d3;
    background-color: #E6EDF7;
    border-left: none;
    margin: 0px;
    padding: 4px 12px;
    width: 52px;
    font-size: 12px;
    font-weight: 600;
    font-family: Consolas;

}

.contenttab .triTop {

    padding: 4px 2px;
    font-size: 12px;
    display: block;
    width: 20px;
    line-height: 12px;
    text-align: center;

}

.contenttab table td:first-child {
    border: 1px solid #d3d3d3;
    border-left: none;
    width: 24px;
    background-color: #E6EDF7;
    margin: 0px;
    padding: 4px 4px;
    font-size: 12px;
    font-weight: 600;
}

.contenttab .headcontent {
    width: 100%;
    text-align: center;

}

.rownum {
    padding: 4px 4px;
    font-size: 12px;
    font-family: Consolas;
    width: 24px;
    border: 1px solid #d3d3d3;
    border-left: none;
    border-top: none;
    line-height: 12px;
    background-color: #E6EDF7;
    text-align: center;
}

/*  ÎÄ¼þ±êÇ©Ò³css */

.bottom {
    width: 100%;
    height: 32px;
    line-height: 28px;
    position: absolute;
    border-top: 1px solid #d3d3d3;
    background-color: white;
    bottom: 0px;
}

.selecttab {
    padding: 2px 2px;
    font-size: 12px;
    display: block;
    width: 32px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
}

.selecttab .addsheet {
    color: green;
    font-size: 10px;
}

.selecttab .selectsheet {
    color: green;
    font-size: 10px;
}

.tabItem {
    float: left;
    width: 300px;
    line-height: 20px;
    height: 24px;

}

.tabfile {
    padding: 2px 6px;
    float: left;
    margin-right: 8px;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #c8cbc9;
    border-top-width: 0;
    background: #e8e8e8;
}

.tabfile.active {
    top: -1px;
    height: 21px;
    position: relative;
    cursor: pointer;
    background: #fff;

}

.bottom {
    width: 100%;
    height: 32px;
    line-height: 28px;
    position: absolute;
    border-top: 1px solid #d3d3d3;
    background-color: white;
    bottom: 0px;
}

.selecttab {
    padding: 4px 2px;
    font-size: 12px;
    display: block;
    width: 32px;
    height: 20px;
    line-height: 12px;
    text-align: center;
    float: left;

}

.selecttab .addsheet {
    display: inline-block;

}

.hscrollbar {
    width: 360px;
    position: absolute;
    right: 0;
    top: 0;

}

.dividingline{
    width:7px;
    height: 16px;
    float: left;
    position: relative;
    top: 2px;
    background: url('../images/sprite.png') no-repeat 0px -3695px;
    cursor: col-resize;
}

.hscrollbarContainer {
    float: left;
    top: 3px;
    position: relative;
}

.hscrollbarConrtent {
    width: 120px;
    height: 14px;
    position: absolute;
    left: 20px;
    background-color:#BCBCBC;
}

.vscrollbarContainer{

    height: 100px;
    position: absolute;
    left: 0px;
    background-color:#BCBCBC;
}

.scrollbararrow {
    width: 12px;
    height: 14px;
    color: green;
    position: relative;
    line-height: 12px;
    padding: 2px 2px 0px;

}

.scrollbararrow:hover {
    background: #BCBCBC;
    cursor: pointer;
    height: 14px;

}

.arrowleft {
    float: left;
}

.arrowright {
    float: right;
    margin-right: 14px;

}

.vscrollbar{
    float: right;
    width: 16px;
    border-top: 1px solid RGB(211,211,211);
    background-color: RGB(241,241,241);
    right: 0px;
    top: 0px;
    bottom:34px;
    position: absolute;
}
.vscrollbarConrtent{
    height: 200px;
    position: absolute;
    top: 30px;
    width: 16px;
    background-color:#BCBCBC;

}

.arrowtop{
    top: 22px;

}

.arrowdown{
    bottom: 0px;
    position: absolute;
}